<table class="container table border">
  <thead>
    <tr>
      <th class="text-bold pd-1">FullName</th>
      <th class="text-bold pd-1">Description</th>
      <th class="text-bold pd-1">Amount</th>
      <th class="text-bold pd-1">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-y" *ngFor="let payment of payments">
      <td class="text-center overflow-text pd-1">{{payment.friend | fullname}}</td>
      <td class="text-center overflow-text pd-1">{{payment.description}}</td>
      <td class="text-center overflow-text pd-1">{{payment.amount | amount}}</td>
      <td class="text-center overflow-text pd-1" >{{payment.transactionDate | paymentDate}}</td>
    </tr>
  </tbody>
</table>
