<dialog [attr.open]="show ? 'open' : null" class="modal">
  <header
    class="modal-header modal-header__background-color modal-header__color"
  >
    <h4>Add Friend</h4>
  </header>
  <section>
    <app-add-friend-form [isSubmited]="isSubmited" (onFormStatusChange)="onFormStatusChange($event)" (onValuesChange)="onValuesChange($event)"/>
  </section>
  <footer class="modal-footer">
    <button class="button" (click)="onCancel()">Cancelar</button>
    <button class="button primary" (click)="onAccept()" [attr.disabled]="isFormValid ? null : ''">OK</button>
  </footer>
</dialog>
