.container-fluid {
  width: 100%;
}

.container {
  width: 960px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.space-around-x {
  display: flex;
  justify-content: space-around;
}

.pd-1 {
  padding: 1rem;
}



/* Mobile */
/*Portrait*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .container {
    width: 100%;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .container {
    width: 100%;
  }
}



/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .container {
    width: 100%;
  }
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .container {
    width: 100%;
  }
}
/*fin tablet*/
