.container-fluid {
  width: 100%;
}

.container {
  width: 90%
}


.col {
  display:flex;
  flex-direction: column;
}

.row {
  display:flex;
  flex-direction: row;
}

.center-x {
  display:flex;
  justify-content: center;
}

.center-y {
  display:flex;
  align-items: center;
}

@media (max-width: 576px) {
  .container {
    width: 100%
  }
}


