<form method="dialog" class="form" [formGroup]="friendForm">
  <div class="form-group" [ngClass]="{'error': friendForm.get('name')?.invalid && friendForm.get('name')?.touched }">
    <label>Name (*)</label>
    <input type="text" id="name" formControlName="name" placeholder="Jude"/>
    <span *ngIf="friendForm.get('name')?.invalid && friendForm.get('name')?.touched">{{getErrorMessage(friendForm.get('name')?.errors)}}</span>
  </div>

  <div class="form-group" [ngClass]="{'error' : friendForm.get('lastname')?.invalid && friendForm.get('lastname')?.touched }">
    <label>Lastname (*)</label>
    <input type="text" id="lastname" formControlName="lastname" placeholder="Bellingham"/>
    <span *ngIf="friendForm.get('lastname')?.invalid && friendForm.get('lastname')?.touched">{{getErrorMessage(friendForm.get('lastname')?.errors)}}</span>
  </div>
</form>
